*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-image: url("../images/bg-desktop.png");
    background-size: cover;
    background-color: hsl(257, 40%, 49%);
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
    display: grid;
    justify-content: center;
    min-height: 100vh;
}
.container{
    max-width: 100%;
}
.grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding:1rem 7.3rem;  
    gap:1.5rem;
}
.logo{
    max-width: 100%;
    padding-left:7.3rem;
    padding-bottom:1.5rem;
}
.illustration{
    height:24rem;
}
.content{
    padding-top:0;
}
.content h1{
    color:white;
    padding:1.5rem 0;
    font-weight:500;
    font-size:2.2rem;
    line-height:1.5;
}
.content p{
    color:#fff;
    line-height:1.4;
}
.btn{
    padding:1rem 3.1rem;
    font-size:1.5rem;
    color:hsl(257, 40%, 49%);
    border-radius:30px;
    margin-top:1rem;
    border:none;
    box-shadow:0 5px 10px rgba(0, 0, 0, 0.3);
}
ul{
    display:flex;
    justify-content:flex-end;
    padding-right:7.3rem;
    gap:1rem;
    align-items:center;
}
li{
    display:flex;
    list-style: none;
    border:2px solid white;
    border-radius:50%;
    height:2.5rem;
    width:2.5rem;
    align-items:center;
    justify-content: center;
}
a{
    color: white;
}
@media screen and (max-width: 768px){
    .container{
        margin:0;
        padding:0;
    }
    .grid{
        grid-template-columns: 1fr;
        justify-content: start;
        align-items:start;
        padding:0;
        margin:0;
    }
    .logo{
        width:250px;
        padding:1rem 1rem;
    }
    .illustration{
        width:450px;
        background-size:cover;
        height:19rem;
        padding:0 1rem;
    }
    ul{
        width:400px;
        margin:2rem;
        justify-content: flex-end;
    }
    .content{
        width:400px;
        text-align:center;
        margin:0 auto;
    }
    .content h1{
        font-size:2rem;
    }
}
  
/*
.footer-logo{
    display:flex;
    justify-content: end;
    padding-right:7.3rem;
    color:#fff;
    position:relative;
}
.logo-footer{
    position:relative;
}
.logo-footer{
    height:2rem;
    width:1.5rem;
}
.footer-logo::after{
    content:'';
    background:none;
    border:2px solid white;
    width:3%;
    padding-bottom:3%;
    border-radius: 50%;
    position:absolute;
    align-self: end; 
}*/